.mainContainer{
    background-image: url("../../../Assets/Home3.png");
    height: 30rem;
    flex: 1;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px

}

.text{
    font-weight: bold;
}


.textContainer{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;

}

@media (max-width: 900px) {
    .textContainer{
        font-size: 1.5rem;
    }
    .mainContainer{
        
    height: max-content;
    padding-top: 50px;
    padding-bottom: 70px;
    }
    .text{
        font-size: 2rem;
    }
  }