
.mainContainer {
  flex: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 100%;
  overflow-x: hidden;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

  border-radius: 10px;
  
}

.secondContainer {
  padding: 3rem;
  overflow-x: auto; /* enable horizontal scrollbar on secondContainer */
  flex: 1;
}



.cartItem{
    /* border-bottom: 1px solid #ccc; */
    height: 7rem;
    gap: 10px
}


@media (max-width: 900px) {
  .cartItem{
    /* border-bottom: 1px solid #ccc; */
    height: max-content;
}
.secondContainer{
  padding: 1rem;
}
}

.imageContainer{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border: '2px solid #1e1e1e';
    border-radius: 5px;
}






.inputContainer{
    margin-top: 3rem;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    overflow: hidden;
    border: 1px solid #1e1e1e;
    overflow: hidden;
    border-radius: 10px;
  }

.input{
    flex: 3;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0.5rem;
    font-size: medium;
  }

  .input:focus {
    outline: none; /* Add outline property to remove the default focus outline */
  }

  .button {
    flex: 2;
    background-color: #1e1e1e;
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    transition: transform 0.3s ease-in-out; /* Add transition property for smooth effect */
    font-size: large;
    text-overflow: clip;
    white-space: nowrap;
  }

  
@media (max-width: 1150px) {
  .button {
    font-size: medium;
  }
}
  
  .button:hover {
    transform: translateX(3px); /* Translate the button text by 3px to the right on hover */
  }