.mainContainer{
    flex: 1;
    height: 100%;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

  
  border-radius: 10px;
}

.secondContainer{
    padding: 3rem;
}

@media (max-width: 900px) {
 
    .secondContainer{
        padding: 1rem;
      }
  }