.mainContainer{
    background-color: white;
    flex: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 100%
}

.secondContainer{
    padding: 3rem;
}

@media (max-width: 900px) {
 
    .secondContainer{
        padding: 1rem;
      }
  }