.container {
    display: table;
    width: 100%;
  }

  .mainContainer{
    margin-top: 3rem; 
    padding-left: 3rem; 
    padding-right: 3rem;
  }

  @media (max-width: 900px) {
    
    .mainContainer{
     padding: 0px;
     margin-top: 20px;
    
    }
  }
  
  .row {
    display: table-row;
  }
  
  .cell {
    display: table-cell;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .cell:first-child {
    border-top: 1px solid #ccc;
  }
  