.mainContainer{
    padding-top: 8rem;
    background: linear-gradient(to left, rgb(231, 244, 255), white);
    height: max-content;
    flex: 1;
    flex-direction: row;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
}


.First{

    flex: 1;

    max-width: 50%;
}


.Second{
    flex: 1;
    max-width: 50%;
}