.sidebar {
  width: 220px;
  left: 0;
  background: rgba(17, 17, 17, 0.95);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: hidden;
  bottom: 0;
  user-select: none;
  -webkit-user-select: 'none';
  z-index: 99;
  color: #eee;
  transition: width 0.3s ease;
}

.content {
  width: 100%;
  height: 100%;
}

/* Style the scrollbar inside the .sidebar */
.content::-webkit-scrollbar {
  width: 3px;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(141, 141, 141, 0.5);
}

.content::-webkit-scrollbar-track {
  background-color: rgba(17, 17, 17, 0);
  border-top-right-radius: 1rem;
}

.content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content ul li {
  text-align: left;
}

.content ul li a {
  display: block;
  padding: 15px;
  margin: 5px;
  color: #aaa;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 0.5rem;
}

.content ul li a:hover {
  background: #575757;
  color: #fff;
}

/* New class for selected state */
.content ul li a.selected {
  background: rgba(70, 69, 69, 0.5);
  color: #fff;
}

.selected{
    background: rgba(70, 69, 69, 0.5);
  color: #fff;
}

.content ul li a:hover,
.content ul li a.active {
  background: #575757;
  color: #fff;
}

.content ul li a i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: max-content;
  }
}
