.mainContainer{
    flex: 1;
    height: max-content;
    /* animation: signatureEffect 1s ease-out; */
    background: linear-gradient(to left, rgb(255, 244, 236), bisque);
    padding-top: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}



.innerContainer{
    flex: 1;
    text-align: center;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.innerHeading{
  flex: 1;
  text-align: left;
  padding: 10px
}

@media (max-width: 1300px) {
  .innerContainer {
      flex-direction: column;
}
.innerHeading{
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}
.mainContainer{
  
  padding-right: 10px;
  padding-left: 10px;
}
}






@keyframes signatureEffect {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .heading {
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;

  }
  


.columnsContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    flex: 1;
    row-gap: 1rem;
    justify-content: center;

  }
  
  .column {
    height: 25rem;
    width: 25rem;
    overflow: hidden;
  }

  .image{
    max-width: 15rem;
    margin-bottom: 0px; 
    padding-bottom: 0px;
  }

  @media (max-width: 1200px) {
    .column {
      height: 20rem;
      width: 20rem;
      overflow: hidden;
    }
    .heading{
      font-size: 3rem;
    }
  }

  @media (max-width: 900px) {
    .column {
      height: 15rem;
      width: 15rem;
      overflow: hidden;
    }
    .heading{
      font-size: 2rem;
    }
    .image{
      max-width: 12rem;
    }
  }

  @media (max-width: 600px) {
    .column {
      height: 12rem;
      width: 12rem;
      overflow: hidden;
    }
    .image{
      max-width: 10rem;
    }
  }

  
  @media (max-width: 500px) {
    .column {
      height: 10rem;
      width: 10rem;
      overflow: hidden;
    }
  }

  @media (max-width: 370px) {
    .column {
      height: 8rem;
      width: 8rem;
      overflow: hidden;
    }
  }
  @media (max-width: 300px) {
    .column {
      height: 6rem;
      width: 6rem;
      overflow: hidden;
    }
  }

  .imageFirst {

    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative; /* Add position relative to create stacking context for pseudo-element */
  }
  
  .imageFirst::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark tint color with transparency */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease-in-out; /* Add transition property for smooth effect */
  }
  
  .imageFirst:hover::before {
    opacity: 1; /* Show the dark tint on hover */
  }
  
  .imageFirstText {
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bold;
    width: 90%;
  }


