.mainContainer{
    flex-direction: row;
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(231, 244, 255);
    height: 25rem;
}




.ImageContainer{
    flex: 3;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.Image{
    width: 100%;
    object-fit: contain;
    object-position: right;
    flex: 1
}

.Text{
    font-size: 4rem;
    color: #000000;
    font-weight: bold;
    padding-bottom: 2rem;
}

.TextContainer{
    flex: 1;
    height: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.innerTextContainer{
    flex: 1;
    height: 100%;
}


@media (max-width: 1438px) {
    .Image{
        width: auto;
        height: 100%;
    }
  }

  @media (max-width: 700px) {
    
    .mainContainer{
        flex-direction: column;
        height: max-content;
    }

    .TextContainer{
        text-align: center;
    }
    
    .Text{
        font-size: 2rem;
        color: #000000;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    .Image{
        width: 100%;
        height: auto;
    }
}



