.mainContainer{
    background-image: url("../../../Assets/Home3.png");
    height: 35rem;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}


.textContainer{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    color: #ffffff;

}
