.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  

  .heading{
    /* margin-top: 0rem; */
    font-size: 2rem;
}

  .listContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    gap: 1.5rem;
  }

  @media (max-width: 1200px) {
    .listContainer {
        grid-template-columns: repeat(3, 1fr);
      }
  }
  
  @media (max-width: 640px) {
    .listContainer {
        grid-template-columns: repeat(2, 1fr);
      }

      .mainContainer {
        padding: 1rem;
      }
      
  }

  

  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .prevButton,
  .nextButton {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    color: #1e1e1e;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 3rem;
  }
  
  .prevButton:disabled,
  .nextButton:disabled {
    cursor: not-allowed;
  }
  
  
  .pageInfo {
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  

  @media (max-width: 900px) {
    
    .prevButton,
  .nextButton {
    font-size: 2.5rem;
  }
  }

  @media (max-width: 600px) {
    
    .prevButton,
  .nextButton {
    font-size: 2rem;
  }
  .pageInfo {
    margin: 0 0.5rem;
    font-size: 1rem;
  }
  }
  
  