.mainContainer{
    background-color: rgb(231, 244, 255);
    flex: 1;
    height: max-content;
    
}


.innerContainer{
    padding: 40px;
    flex: 1;
    text-align: center;
    padding-top: 50px;
}

.heading{
    margin-top: 0rem;
    font-size: 4rem;
}

.headingSecond{
  margin-top: 0rem;
  font-size: 3rem;
}


.columnsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 3 equal-width columns */
    grid-gap: 0px; /* Adds a gap between columns */
  }


  
  .column {
    height: 30rem;
    overflow: hidden;
    width: 22vw;
  }

  @media (max-width: 900px) {
    .columnsContainer {
      grid-gap: 20px; /* Adds a gap between columns */
    }
    .column{
      width: 40vw;
    }
  }
  

  .imageFirst {
    background-image: url("../../Assets/Home6.png");
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative; /* Add position relative to create stacking context for pseudo-element */
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  
  .imageFirst::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Dark tint color with transparency */
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out;

  }
  
  .imageFirst:hover::before {
    background-color: rgba(0, 0, 0, 0.2); /* Dark tint color with transparency */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .imageFirstText {
    position: absolute;
    top: 50%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    width: 90%;
  }


  .imageSecond {
    background-image: url("../../Assets/armchair.jpg");
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative; /* Add position relative to create stacking context for pseudo-element */
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  
  .imageSecond::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Dark tint color with transparency */
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out;

  }
  
  .imageSecond:hover::before {
    background-color: rgba(0, 0, 0, 0.2); /* Dark tint color with transparency */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .imageSecondText {
    position: absolute;
    top: 50%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    width: 90%;
  }

  .imageThird {
    background-image: url("../../Assets/lamp.jpg");
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative; /* Add position relative to create stacking context for pseudo-element */
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  
  .imageThird::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Dark tint color with transparency */
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out;

  }
  
  .imageThird:hover::before {
    background-color: rgba(0, 0, 0, 0.2); /* Dark tint color with transparency */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .imageThirdText {
    position: absolute;
    top: 50%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    width: 90%;
  }

  
  
  .imageFourth {
    background-image: url("../../Assets/cushion.jpg");
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative; /* Add position relative to create stacking context for pseudo-element */
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  
  .imageFourth::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Dark tint color with transparency */
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out;

  }
  
  .imageFourth:hover::before {
    background-color: rgba(0, 0, 0, 0.2); /* Dark tint color with transparency */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .imageFourthText {
    position: absolute;
    top: 50%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    width: 90%;
  }

  .secondaryButton {

    border: 1px solid transparent;
    padding: 15px;
    min-width: 10rem;
    min-height: 2rem;
    font-size: large;
    color: #fff;
    background-color: #1e1e1e;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    box-shadow: inset 2px 3px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  
  .secondaryButton:hover {
    background-color: rgba(30, 30, 30, 0.5);
    color: white;
  }


  @media (max-width: 1200px) {
    .headingSecond{
      font-size: 2rem;
    }
  }

  @media (max-width: 900px) {
    .secondaryButton{
      padding: 10px;
      min-width: 8rem;
      min-height: 1.7rem;
      font-size: large;
    }
    .columnsContainer {
      grid-template-columns: repeat(2, 1fr);
    }
    .imageFirst{
      transform: translateY(0rem);
      }
      .imageSecond{
        transform: translateY(0rem);
        }
      .imageThird{
        transform: translateY(0rem);
      }
  .innerContainer{
    padding: 20px;
    padding-top: 50px;
  }
    .heading{
      font-size: 2rem;
    }
    .headingSecond{
      font-size: 2rem;
    }

    .column{
      height: 20rem;
    }
  }

  @media (max-width: 600px) {
    
    .column{
      height: 15rem;
    }
    
    .headingSecond{
      font-size: 1.5rem;
    }
    .secondaryButton{
      padding: 10px;
      min-height: 1.5rem;
      font-size: medium;
      min-width: 100px;
    }

  }

  @media (max-width: 400px) {
    
    .column{
      height: 12rem;
    }
    .headingSecond{
      font-size: 1rem;
    }
    .secondaryButton{
      padding: 5px;
      min-height: 1.2rem;
      font-size: 1rem;
      min-width: 20px;
    }
  }
/* 
  @media (max-width: 700px) {
    .imageFirst{
    transform: translateY(0rem);
    }
    .imageSecond{
      transform: translateY(0rem);
      }
    .imageThird{
      transform: translateY(0rem);
    }
  } */