.mainContainer{
    flex: 1;
    text-align: center;
    padding-bottom: 4rem;
}

.innerContainer{
    padding: 3rem;
    flex: 1;
}

.heading{
    font-size: 3rem;
}

@media (max-width: 900px) {
    
   
.innerContainer{
    padding: 2rem;
}

.heading{
    font-size: 2rem;
}
  }

  @media (max-width: 500px) {
    
   
    .innerContainer{
        padding: 10px;
    }
    
    .heading{
        font-size: 2rem;
    }
      }


.secondContainer{
    flex-direction: row;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 1rem
}


.productsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
    align-items: center; /* Centers the grid vertically */
    justify-content: center; /* Centers the grid horizontally */
    flex: 1;
    gap: 10px;
    margin-bottom: 1rem;
  }
  
  
@media (max-width: 900px) {
    .productsContainer {
        grid-template-columns: repeat(2, 1fr);
      }
  }
  
  
  

