.home{
    -webkit-user-select: none;
    user-select: none;
}


.mainImage{
    height: max-content;
    flex: 1;
    background: linear-gradient(to left, rgb(255, 244, 236), bisque);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 2rem;
    min-height: 70vh;
    position: relative;
}

.mainHeading{
    font-size: 5rem;
    margin-bottom: 0rem;
    margin-top: 0px;
    padding-top: 0px;
}

.mainImageComponent{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainProductImage{
    height: auto;
    width: 80%;
    min-width: 300px;
}

.mainImageText{
    padding: 10px;
    padding-left: 50px;
    padding-bottom: 30px;
}

@media (max-width: 900px) {
    .mainHeading{
        font-size: 4rem;

    }
    .mainImage{
        flex-direction: column;
    }
    .mainImageText{
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
        padding: 10px
    }
    
  }

  @media (max-width: 1200px) {
    .mainHeading{
        font-size: 4.5rem;
    }
    
  }


  
@media (max-width: 700px) {
    .mainHeading{
        font-size: 3.5rem;
    }
    
  }


