.mainContainer{
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 40rem;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.firstHalf{
height: 100%;
width: 50%;
padding: 10px;
flex: 1
}


.firstHalfContainer {
    background-position: center center, left bottom;
    background-repeat: no-repeat;
    background-size: contain, cover;
    flex: 1;
    height: 100%;
    position: relative;
  }
  
 .firstHalfContainer::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 70%;
  height: 60%;
  background-image: url("../../Assets/Home2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 2;
}

  
  .firstHalfContainer::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-image: url("../../Assets/Home1.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    z-index: 1;
  }
  





.secondHalf{
    width: 50%;
    height: 100%;
    padding: 10px;
    text-align: center;
    flex: 1
}

.secondHalfTitle{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 3rem;
}

.secondHalfProducts{
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1
}


@media (max-width: 1100px) {
  .mainContainer{
    height: max-content;
  }
  .secondHalfProducts{

    flex-wrap: wrap;
  }
  
}