

.mainContainer{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: max-content;
}

.secondContainer{
        flex: 1;
        min-width: 22%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;
        justify-content: center;
        gap: 10px;
        min-width: 250px;
        
}


.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }